body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.btn-primary{
    transition: 0.4s ease;

    &:hover{
        outline: auto;
    }
    &:active{
        transform: scale(0.8);
    }
}