body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.btn-primary{
    transition: 0.8s ease;

    &:hover{
        outline: auto;
        transform: scale(1.05);
    }
    &:active{
        transform: scale(0.8);
    }
}

.ojito {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.ojito i {
  font-size: 18px;
  color: #555;
}

/* Ocultar ojito nativo de Edge/Chrome en inputs password */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button {
  display: none !important;
}



